[Unit]
Description=Discord Utility Bot
After=network.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__WORKDIR__
ExecStart=__NODE__ --watch index.js
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=NODE_ENV=development

[Install]
WantedBy=multi-user.target
